.App {
  text-align: center;
  height: 100%;
}

.switch-wrapper {
  position: relative;
  height: 100%;
}

.switch-wrapper>div {
  position: absolute;
  width: 100%;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}